<!DOCTYPE html>
<html ng-app="adminApp">
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <base href="/">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/estilos.css"/> 

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC8ko8zyOY8TozwC8_br5zoNY5ayQOD7o&libraries=places"></script>     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="js/ng-map.min.js"></script>
    <script type="text/javascript" src="js/adminApp.js"></script>
  
  </head>
  <body ng-controller="adminCtrl">  

    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="left hide-on-med-and-down">Places</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Readme</a></li>
          <li><a href='#'>Log in</a></li>
        </ul>
      </div>
    </nav>  

    <!-- <div id="panellogin" ng-hide="getAutenticado()">

      <ng-include src="'partials/login.html'"></ng-include>

    </div> -->

    <div id="panellogueado" ng-show="getAutenticado()" >

      <div class="row">
        <div class="mapng col s8">

          <ng-map zoom="13" center="-38.70, -62.27" id="map">

            <marker ng-repeat="hg in heladeriasGoogle" position="{{ hg.geometry.location.lat() }}, {{ hg.geometry.location.lng() }}" on-click="cargarInfoGoogle({{$index}})"></marker>
                                 
          </ng-map>
           
        </div>

        <!-- <marker ng-repeat="heladeria in listado" position="{{ heladeria.location.lat }}, {{ heladeria.location.lng }}" icon="/img/iconhelado.png" on-click="pinClicked(this)" on-click="cargarMarcador(m)"></marker> -->



        <div class="col s4">
        <div class="nav-content">
          <ul class="tabs">
            <li class="tab"><a href="/admin">Editar</a></li>
            <li class="tab"><a href="/admin/listado">Listado</a></li>
            <li class="tab"><a href="/admin/detalles">Detalles</a></li>
            <li class="tab"><a href="/admin/comentarios">Comentarios</a></li>
            
          </ul>
        </div>


        <div class="row paneles">
          <div class="panelscrollable" ng-view></div>
        </div>
      </div>      
    </div>
    </div>
  </body>
</html>