<!DOCTYPE html>
<html ng-app="adminApp">
  <head>
    <title>Buscando heladerias</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <base href="/">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/estilos.css"/> 

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC8ko8zyOY8TozwC8_br5zoNY5ayQOD7o&libraries=places"></script>     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="js/ng-map.min.js"></script>
    <script type="text/javascript" src="js/adminApp.js"></script>
    
  
  </head>
  <body ng-controller="adminCtrl">  

    <nav>
      <div class="nav-wrapper container">
        <a href="#" class="left hide-on-med-and-down">Places</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/readme">Readme</a></li>
          <li><a href='#' ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>  

    <div id="panellogin" ng-hide="autenticado">
      <div class="row">
      <ng-include src="'partials/login.html'"></ng-include>
      </div>
    </div>

    <div id="panellogueado" ng-show="autenticado" >

      <div class="row">
        <div class="mapng col s8">

          <ng-map zoom="13" center="-38.70, -62.27" id="map" on-click="moverPin()">

            <marker ng-repeat="hg in heladeriasGoogle" position="{{ hg.geometry.location.lat() }}, {{ hg.geometry.location.lng() }}" on-click="cargarInfoGoogle({{$index}})" class="custom-marker">
            </marker>

            <marker ng-repeat="heladeria in heladerias" position="{{ heladeria.location[0] }}, {{ heladeria.location[1] }}" icon="img/pinhelado.png" on-click="cargarInfoHeladeria(heladeria._id)"></marker>

            <marker position="{{pin.lat}}, {{pin.lng}}"></marker>
                  
          </ng-map>
           

        </div>




        <div class="col s4">
          <div class="nav-content">
            <ul class="tabs">
              <li class="tab"><a href="#editar">Editar</a></li>
              <li class="tab"><a href="#listado">Listado</a></li>
              <li class="tab"><a href="#detalles">Detalles</a></li>
              <li class="tab"><a href="#comentarios">Comentarios</a></li>
              
            </ul>
          </div>

          <div class="row paneles">
            <div class="panelscrollable">
              <div id="editar"><ng-include src="'partials/panelabm.html'"></ng-include></div>
              <div id="listado"><ng-include src="'partials/listado.html'"></ng-include></div>
              <div id="detalles"><ng-include src="'partials/detalles.html'"></ng-include></div>
              <div id="comentarios"><ng-include src="'partials/comentarios.html'"></ng-include></div>
            </div>
          </div>
        </div> 
      </div> 
    </div>    

  </body>
</html>