<div>
	<div class="section">
		<h4>Proyecto Mapoteca con Mean.js</h4>		
	</div>
	<div class="section">
		<h5>Comision 713 IAW 2017 </h5>
		<p>Boruta Daiana, Rapetti Carolina</p>
	</div>
	<div class="divider"></div>
	<div class="section">
		<h5>Usuarios</h5>
		<div class="row">
			<div class="col s6">
				<h6><b>Visitante</b></h6>
				<p>El usuario visitante podra ver todas las heladerias guardadas actualmente
					y filtrarlas de acuerdo a lo que desea. Los resultados iran mostrandose
					en el mapa ubicado del lado izquierdo de la pantalla. Ademas, en los distintos
					paneles de la derecha podra ver los datos de cada heladeria que seleccione del 
					mapa o de la lista. Tambien cuenta con una seccion de comentarios con referencias
					sobre cada heladeria.</p>
			</div>
			<div class="col s6">
				<h6><b>Administrador</b></h6>
				<p>El usuario administrador podra ver todas las heladerias guardadas actualmente
					y tambien todas las provistas por la base de datos de Google que se encuentran 
					en Bahia Blanca, en un radio determinado de la posicion actual. Podra agregar 
					heladerias haciendo click sobre el mapa en la direccion que desea. Si hace 
					click sobre una de las heladerias ya guardadas se le permitira modificarla o 
					eliminarla. En cambio si no esta guardada se le permitira guardarla.
					Al igual que el usuario visitante, en los distintos paneles de la derecha podra 
					ver los datos de cada heladeria que seleccione del mapa o de la lista.</p>
			</div>
			
		</div>
		
	</div>

</div>